# DB check_command for Sakuli
# --name = Suite ID
# --name2 = number of seconds the last result is allowed to be old
define command {
  command_name                   check_sakuli
  command_line                   $USER1$/check_mysql_health \
                                    --hostname=$USER16$ \
                                    --database=$USER10$ \
                                    --username=$USER11$ \
                                    --password=$USER12$ \
                                    --mode=my-sakuli-suite \
                                    --name='$ARG1$' \
                                    --name2=$ARG2$ \
                                    --report=html \
                                    --port=$USER13$ \
                                    --with-mymodules-dyn-dir=$USER15$
}
