Überlegung zum Ein-/Ausschaltung von Komponenten
------------------------------------------------

Motivation:

Der Admin sollte die Möglichkeit bekommen, einzelne Komponenten
ein- und auszuschalten. Beispiele dafür:

* PNP4Nagios ausschalten - keine Perfdaten
* Livestatus ausschalten - Zugriff nur über Standard-CGIs
* Apache-Support ausschalten - Verwendung der Instanz als Monitoring-Drohne
  ohne GUI
* Nagios Core ausschalten - Verwenden der Instanz als GUI (z.B. Multisite/Thruk)
* Verwendung eines anderen Cores (Icinga, Shinken)

Dabei besteht keine 1:1 Beziehung zwischen Packages und Komponenten.
Manche Addons bieten keine Möglichkeit zum Schalten, z.B. nagios-plugins.
Die sind einfach immer da. Andere biete sogar mehrere Komponenten zum
Schalten.

Die immer generell alle Addons installiert werden, dient das
Schalten nicht als Ersatz für einen Paketmanager. Es ist nur notwendig,
wenn das Verhalten des Systems beeinflusst werden muss.

Konfiguration:

Jede site braucht eine Konfiguration, die festlegt, welche Komponenten
ein- und ausgeschaltet sind. Dies könnte man in einer Textdatei ablegen,
die von der Shell direkt eingelesen werden kann. Damit stehen die
Informationen z.B. bequem in Startskripten zur Verfügung. In der Datei
können auch später weiter Konfigurationsparameter abgelegt werden, die
über OMD verwaltet werden.

Wenn man einen Schritt weiterdenkt, könnte man das Ein-/Ausschalten von
Komponenten nur als Spezialfall betrachten und allgemein von Konfigurations-
Parametern sprechen, die von OMD verwaltet werden. Dabei ist der Schwerpunkt
nach wie vor auf der Zusammenarbeit der Komponenten (Systemintegration).
Es soll kein Ersatz geschaffen werden für ein Nagios-Konfigurationswerkzeug.

/omd/sites/muc/etc/omd/site.conf:
CONFIG_PNP4NAGIOS="on"
CONFIG_CORE="nagios"

Auswirkung:

* Bestimmten Daemonen werden gestartet oder nicht
* Konfigurationsdateien werden aktiviert oder nicht (Apache, Nagios)

Implementierung:

Bei den Daemonen ist das Setzen von Variablen in site.conf ausreichend.
An anderen Stellen muss ein Addon beliebige Aktionen einbinden können.
Das kann z.B. auch das Erzeugen eines Datenbankschemas bedeuten. Oder
das Verlinken einer Konfigdatei (analog zum Schema bei Debian:Apache
mit sites-enabled und sites-available). Dazu soll das Addon hooks installieren 
können. 

Vorschlag dazu:

/omd/versions/0.42/lib/omd/hooks/

Jeder hook entspricht einer Komponente. Es ist ein Shellskript mit 
dem Namen der Komponente. Der Hook bekommt einen Aufrufparameter:
die Aktion. Folgende Aktionen sind denkbar:

alias) Gibt einen sprechenden Namen für die Komponente, bzw. die Configoption
    auf stdout aus

description) 
    Gibt eine Beschreibung aus.

choices) Beschreibt die Wahlmöglichkeiten für den Schalter in einer standadisierten
    Form

default) Gibt den Default-Wert aus (wird für neue Instanzen verwendet)

set) Setzt einen neuen Wert für die Option. Hier können dann die tatsächlichen 
    Aktionen untergebracht werden.

Der Hook wird immer über omd aufgerufen und muss daher keine
Kontrolle der Parameter machen. Er darf davon ausgehen, dass

1. $1 immer einen erlaubten Wert hat
2. Im Falle von "set" auch $2 nur einen der in choices
   erlaubten Werte hat
3. in $OMD_SITE der Name der Site vererbt wird
4. in $OMD_ROOT das Rootverzeichnis der Seit vererbt wird



Aktueller Prototyp:

Im Prototyp sind bereits zwei hooks exemplarisch implementiert:
CORE und PNP4NAGIOS. Mit CORE kann man Nagios ein- und ausschalten.
Werte sind entweder "nagios" oder "none". Später kann man hier
auch einen anderen Core auswählen.

PNP4NAGIOS kann auf "on" und "off" stehen. Damit gesteuert wird
* Apache-Config
* Startskript npcd
* Startskript rrdcached

Um einen Hook zu erzeugen, muss man diesen einfach im Paketverzeichnis
ablegen, in Großbuchstaben schreiben und die Endung .hook geben. 
In site.conf taucht dieser dann mit dem Präfix CONFIG_ auf. Dieser
Präfix soll einen Namenskonflikt mit Shellvariablen und Befehlen
vermeiden.

