# Load Naemon Livestatus module into Naemon
# This creates a UNIX socket where status and log
# data can be retrieved by Thruk and
# other addons.
broker_module=./lib/naemon/livestatus.o ./tmp/run/live
event_broker_options=-1

